.message {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color-black, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &__content {
    width: 400px;
    min-height: 200px;
    background-color: $color-white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  &__close {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }

  // &__window {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   z-index: 10;
  //   background-color: rgba($color-black, 0.7);
  // }

  // &__text-inner {
  //   position: fixed;
  //   background-color: $color-white;
  //   z-index: 11;
  //   top: calc(50% - 130px);
  //   left: calc(50%-360px);
  //   height: 260px;
  //   width: 720px;
  //   padding: 60px;
  //   display: flex;
  //   flex-direction: column;
  //   border-radius: 16px;
  //   overflow: auto;
  // }

  // &__window-close {
  //   position: absolute;
  //   background-color: transparent;
  //   border: none;
  //   top: 20px;
  //   right: 20px;
  //   cursor: pointer;
  // }

  &__title {
    font-family: $ff-mulish;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0%;
  }

  &__span {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0%;
  }
}
